.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.carousel-dot.active {
  background-color: #09958B;
}