@media (max-width: 767px) {
    .grid-container {
        grid-auto-flow: column;
        grid-auto-rows: 25%; /* play with this to change height of the children, 50% will fill half */
        grid-template-columns: unset; /* do not set template columns and rows */
        grid-template-rows: unset;
        overflow: scroll;
    }
  }